
::selection {
    background: #d3deed;
    text-shadow: none;
}

@font-face {
    font-family: neuefrutigerworld_w02;
    font-style: normal;
    font-weight: 100 300;
    font-display: swap;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    src: url('font/NeueFrutigerWorldW02-Light.woff2') format('woff2');
}

@font-face {
    font-family: neuefrutigerworld_w02_bold;
    font-style: normal;
    font-weight: 500 950;
    font-display: swap;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    src: url('font/NeueFrutigerWorldW02-Bold.woff2') format('woff2')
}

@font-face {
    font-family: philips-global-icon-font;
    src: url('font/philips-global-icon-font-v2.5.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

:root {
    --tamanho-do-bloco: 960px;
    --tamanho-do-menu: 160.6px;
    --tamanho-icon: 35px;
}



*{
border: 0;
margin:0 auto;
box-sizing:border-box;
font-family: neuefrutigerworld_w02,tahoma,arial,helvetica,sans-serif;
color:#0066a1;

}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.bn-destaque, .bn-destaque-xl, .notification-box-blue a{
    font-family: neuefrutigerworld_w02_bold,tahoma,arial,helvetica,sans-serif;
}
icone {
    font-family: philips-global-icon-font;
    
}
hr {
    height: 1px;
    background-color: rgb(223, 220, 220);
    border: none;
}

header,section,footer,.topo, nav, DIV  {
    width: var(--tamanho-do-bloco);
}


section{
    margin-top: 60px;
}

.full {
    width: 100%;
}

.topo {
    display: inline-block;       
}

#logo {     
    float: left; 
    box-shadow: 0px 5px 10px 1px grey;
    margin: 5px 20px 0 0 ;
}


#menu-principal li{
    padding: 33px 12px;
    list-style-type: none;
    float: left; 
}

#menu-principal a, 
#menu-produtos a {
    text-decoration: none;
    color: rgb(70, 69, 69) !important; 
    font-size: 10.4pt;
    line-height: normal;
    line-height: 15px;
    padding-top: 5px;
}


#menu-produtos .submenu  a:hover {
    
    color: rgb(37, 35, 35) !important;
    border-bottom: 2.5px solid #0074e0;
    
}


#menu-produtos,
.ctnt02 .products-bl,
.ctnt12 .content,
.ctnt13 .content
{
    display: flex;
    
}


#menu-produtos li {
    padding-top: 23px;
    display: flex;
    width: var(--tamanho-do-menu);
    align-content: center;
    height: 120px;
    list-style-type: none;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}


#menu-produtos a {
    display: block;
}

#menu-produtos li:hover {
    border-bottom: 5px solid #0074e0;
}
.selecionado, #menu-produtos li:hover {
    font-weight: bold;
}
.search, .user{
    border: solid 1px;
    margin-top: 12px;
    margin-left: 10px;
    width: 46px;
    height: 46px;
    border-radius: 25px;
    
    border-width: 1px;
    border-color:#e5e5e5 ;
    display: block;
    float: right; 
    cursor: pointer;
}
.search:hover, .user:hover{
    background-color: #f4f7fa;

}

.search-icon{
    content: ""; background: url('images/icons/search.png' ) no-repeat 5px 9px;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: 26px; opacity:0.5;
}
.user-icon{
    content: ""; background: url('images/icons/user.png' ) no-repeat 5.5px 10px;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: 25px; opacity:0.5;
}

.amenities::before          { content: ""; background: url('images/icons/amenities.png'	    )no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}
.baby-feeder::before    	{ content: ""; background: url('images/icons/baby-feeder.png'   )no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}
.bulb::before           	{ content: ""; background: url('images/icons/bulb.png'          )no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}
.electric-car::before   	{ content: ""; background: url('images/icons/electric-car.png'  )no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}
.electric-mixer::before 	{ content: ""; background: url('images/icons/electric-mixer.png')no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}
.heart::before          	{ content: ""; background: url('images/icons/heart.png'         )no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}
.mirror::before         	{ content: ""; background: url('images/icons/mirror.png'        )no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}
.star::before           	{ content: ""; background: url('images/icons/star.png'          )no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}
.television::before     	{ content: ""; background: url('images/icons/television.png'    )no-repeat 0 0;     width: var(--tamanho-icon);    height: var(--tamanho-icon); display:block; background-size: var(--tamanho-icon); opacity:0.7;}

.submenu {    
    display: none;    
    width: 100%;
    line-height: 25px;
    position: absolute;    
    top: 210px ;
    left:0;
    
}
.submenu .sm-title
{
    font-size: 11pt;
    margin-top: 45px;
    color: #000;
}
.submenu a {

    font-weight: normal;
    line-height: 16pt !important;
    
}


.television:hover > .sb-television,
.mirror:hover > .sb-mirror,
.baby-feeder:hover > .sb-baby-feeder,
.electric-mixer:hover > .sb-electric-mixer,
.bulb:hover > .sb-bulb,
.heart:hover > .sb-heart,
.electric-car:hover > .sb-electric-car,
.amenities:hover > .sb-amenities,
.star:hover > .sb-star
{   
    
    z-index: 99;
    display: block;
    min-height: 300px;
    background-color: #fff;
    
}


.bloco-info{
    width: 960px;
    display: flex;
    align-items: initial;
    justify-content: left;
    padding-bottom: 60px;
}

.col-info{
    padding: 10px 5px;
    display: block;
    text-align: left;
    width: 240px;
}

.notification-box-blue {
    background-color: #f4f7fa;
    margin: 50px 0;
    padding: 15px 15px;    
    line-height: 25px;
}
.notification-box-blue::before     	{ 
    margin: auto 15px auto 2px;
    margin-right: 15px; float:left; 
    content: ""; 
    background: url('images/icons/alert.png')no-repeat 0 10px; 
    width: 30px;    
    height: 50px; 
    display:block; 
    background-size: 30px ;
}

.notification-box-blue a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13.5pt;
}

.banners{
    position: relative;
    height: 475px;
    perspective: 100px;
}

  .banner-wrapper {
    height: 475px;    
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

}

.banner, .banner-container {
    height: 457px !important;
    user-select: none;
    display: flex;
    flex: 0 0 100%;
    width: 100%;
}

.banner-conteudo{    
    margin: auto;
    
}

.banner-navigation-item {
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
}


.bn-texto{
    
    width: 305px;   
    float: left;    
}

.bn-destaque, .bn-descricao, span {
    display: block;
    color: #fff;
    text-align: left;
    
}


.bn-destaque, .bn-destaque-xl {
    Line-height: 40px;
    letter-spacing: -.5px;
    font-size: 34px;    
    font-weight: 700;    
}


.bn01 .bn-destaque{
    text-shadow: 0 0 4px rgb(0 0 0 / 20%), 0 0 60px rgb(0 0 0 / 40%);
}
.bn-descricao{       
    font-size: 9pt;     
}

.bn02 .banner-conteudo{
    padding-left: 480px;
}
.bn02 .bn-destaque-xl,
.bn03 .bn-destaque-xl,
.bn04 .bn-destaque-xl
{
    font-family: neuefrutigerworld_w02;
    width: 472px;
    font-weight: 300 !important;    
}

.bn03 .bn-destaque-xl,
.bn04 .bn-destaque-xl {
    font-size: 41pt;
    letter-spacing: -1px;
    font-size: 55px;
    line-height: 66px;    
    font-weight: 700;
    margin-bottom: 21px;
}
.bn02 .bn-btn{
    background-color: #b6bf00;
}
.bn02 .bn-btn:hover{
    background-color: #909700;
}
.bn04 .bn-btn{
    background-color: #7d0063;
}
.bn04 .bn-btn:hover{
    background-color: #63004f;
}

strong{
    font-family: neuefrutigerworld_w02_bold;
    color: inherit;
}

.bn-btn {
    border-radius: 2px;
    border: none;
    background-color: #e98300;
    color: #fff;
    font-size: 12pt;
    padding: 7px 25px;
    margin: 12px 0;

    
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    
}
.bn-btn:hover {
    cursor: pointer;
    background-color: #d07500;
}


.bn01 {
    background: url('images/banners/barbeadores.webp') no-repeat; 
    background-size:100%;
    background-position: center;    
}

.bn02 {
    background: url('images/banners/oneblade-new-l.jpg') no-repeat; 
    background-size:100%;
    background-position: center;    
}

.bn03 {
    background: url('images/banners/Lifestyle_L.jpg') no-repeat; 
    background-size:100%;
    background-position: center;    
}

.bn04 {
    background: url('images/banners/avent_carousel.jpg') no-repeat; 
    background-size:100%;
    background-position: center;    
}

.ctnt01 {
    background: url('images/banners/loja-m.webp') no-repeat; 
    background-size:100%;
    background-position: center;
    height: 410px;
    display: block;
}
.ctnt01 .content{
    margin: 10% 0 10% 1px;    
    width: 50%;
    padding: 10px 10px 10px 0px ;
    width: 470px;
    float: right;
}


.ctnt02 .titulo {
    color: #000;
    font-weight: normal;
    margin-top: -25px;
    letter-spacing: -.2px;
    font-size: 21px;
}



.ctnt02 .product {
    display: block;
    width: 223px;
    height: 406px;
    border: #d7d7d7 solid 1px;
    
}

.ctnt03 {
    background: url('images/banners/banner960x410_LUMEA.webp') no-repeat; 
    background-size:100%;
    background-position: center;
    height: 410px;
    letter-spacing: 1px !important;
    display: block;
}

.ctnt03 .content{
    background-color: #003476;    
    margin: 10% 0 10% 1px;       
    padding: 16px ;
    margin-right: 100px ;
    width: 223px;
    float: right;
}



.product img {  
    width: 183px;
    height: 183px;
}  
.product a,
.newsletter-left a,
.ctnt13 .links-site a  {    
    text-decoration: none;
}
.product .descricao, .avaliacoes {
    flex-grow: 1;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    color: #000;
    font-size: 10pt;
    line-height: 14pt;
    height: 60px;
    
}


.prod-preco {
    color: #000;
    font-size: 11pt;
    font-weight: bolder;
    letter-spacing: 1px;
}
.avaliacoes {
display: inline;
    
}

.link-prod {

border-top: #d7d7d7 solid 1px;
height: 223px;
margin: 0;
padding: 6px 22px;
text-align: center;
}

.ctnt02 .product:hover {
    box-shadow: 0px 2px 4px 1px #e0e0e8
}

.ctnt02 .conteudo-prod{
    padding: 22px;
    hyphens: auto;
    
}

.ctnt02 .conteudo-prod{
    width: 100%;
}
.link-prod a, .link-prod{
    width: 100%;
    margin: 0;
    padding: 2px 0 0 0;
    display: block;
    height: 30px;
    height: 42px;
}
/*estrelas*/

.estrelas {
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 0;
    display: inline-block;
    position: relative;
    line-height: 25px;
    opacity: 1;
    white-space: nowrap;
}

.estrelas .estrelas-conteudo::after, .estrelas::after {
    font-size: 12px;
    line-height: 12px;
    content: '\e632' '\e632' '\e632' '\e632' '\e632';
    color: #e8e8e8;
    font-family: philips-global-icon-font;
    font-style: normal;
    letter-spacing: 2px;
    margin-right: -2px;
}

.estrelas .estrelas-conteudo {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
}

.estrelas .estrelas-conteudo::after {
    color: #ebb626;
}

/*FIM estrelas*/

.ctnt04 .content, 
.ctnt05 .content,
.ctnt06 .content,
.ctnt07 .content

{    
    margin: 0;
    width: 480px;
    min-height: 480px;    
}

.ctnt04 .content{
    float: left;
    background: linear-gradient(135deg, rgb(66, 20, 95), rgb(125, 0, 99));
}

.content .content-w{    
    width: 480px;
    height: 480px;
    padding: 55px;
}
.ctnt04 .bn-btn {
    background-color: #7d0063;
    
}
.ctnt04 .bn-btn:hover {
    background-color: #63004f;
}

.ctnt05 .content{
    float: right;
    background: linear-gradient(to bottom right,#003655 0,#0066a1 50%,#0096ee 100%);
}

.ctnt06 .content,
.ctnt07 .content
{    
    background-repeat: repeat-x;
    background: linear-gradient(to bottom right,#00132c 0,#003478 50%,#0055c4 100%);
    font-size: 17px;
}
.ctnt06 .content{
    float: right;
}
.ctnt07 .content{
    float: right;
}

.bn-destaque-sec{
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 15px;
}
.ctnt06 .bn-btn,
.ctnt07 .bn-btn,
.ctnt11 .bn-btn,
.newsletter-left .bn-btn,
.newsletter-right .bn-btn
 {
    background-color: #0066a1;

}
.ctnt06 .bn-btn:hover,
.ctnt07 .bn-btn:hover,
.ctnt11 .bn-btn:hover,
.newsletter-left .bn-btn:hover,
.newsletter-right .bn-btn:hover {
    background-color: #005688;
}

.ctnt07 .content{
    float: left;
}

.notificacao {    
    border: #003476 solid 1px;
    padding: 20px 10px;
}

.notificacao .bn-destaque{
    color: #0066a1;
    margin-bottom: 20px;
}

.notificacao span{
    text-align: center;
    color: #000;
    
}

.notificacao  .bn-btn{

    background-color: #003478;
    
}
.notificacao  .bn-btn:hover{
    background-color: #00295f;
    
}


.ctnt08 {
    background: url('images/banners/child-rainbow-banner-l.webp') no-repeat; 
    background-size:200%;
    background-position: left;
    height: 410px;
    
    display: block;
}
.ctnt08 .content-w span{
    margin-bottom: 25px;
}
.ctnt08 .content-w{
    height: 260px;
    width: 390px;
    background-color: rgba(15,32,75,.25);
    display: block;
    float: right;
    padding: 16px;
    margin-top: 80px;
    margin-right: 80px;
    letter-spacing: .2px !important;
    line-height: 16pt;

}

.ctnt09 {
    height: 369px;
}

.newsletter-left    {
    padding: 27px;
    width: 632.656px;
    height: 369px;
    background-color: #efefef;
    float: left;
}
.newsletter-right   {
    padding: 17px;
    width: 305.328px;
    height: 369px;  
    background-color: #dee8f5;
    float: right;
}
.newsletter-left span,
.newsletter-right span,
.product .descricao b,
.ctnt11 .bn-destaque,
.ctnt11 p
 {
    color: #000;  
    
}


.newsletter-left .bn-input-form input {
    padding:20px 11px 4px;
    line-height:22px;
    
}
.newsletter-left .bn-input-form {  
    margin: 25px 0 20px 0;  
    display: flex;
    width: inherit;
}
.newsletter-left .bn-input-form .bn-input-3 {
    
    position: relative;
}

.bn-input-3 input {
    border: 1px solid #b9bbc7;
    outline: 0;
}
.bn-input-3 input:focus {
    border: 1px solid #0066a1 !important;
    
}
.bn-input-3 input:focus+label {
    color:#0066a1;
    top:6px;
    font-size:12px;
    line-height:16px;
    
}

.newsletter-left label {
    display: inline-block;
    position: absolute;
    text-align: left;
    left: 12px;
    right: 12px;
    line-height: 22px;
    font-size: 16px;
    color: #c4c4c4;
    transition: all .2s linear;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 0;
    top: 13px;
    pointer-events: none;
}

.newsletter-left .bn-destaque {
    font-weight: normal;
    color: #0066a1;
    
}

.newsletter-right p  {
   
    display: flex;
    color:#000;    
    float: left;
    margin: 5px;
    
}

.newsletter-right .bn-lista{
    margin-top: 10px;
    line-height: 12pt;
}
.newsletter-left .bn-lista{
    
    line-height: 16pt;
}


.newsletter-right p::before {
    color: #0066a1;
    margin: 8px 5px;
    width: 30px;
    height: 100%;
    font-family: philips-global-icon-font;
    content: '\e204';
    font-size: 25px;
    float: left;
    display: flex;
}

.ctnt10 {
    background-color: #b3c8e6;
    height: 295px;
}
.ctnt10 .conteudo{
    padding-top: 50px;
}
.ctnt10 .bn-destaque,
.ctnt10 span{
    color: #0066a1;
}
.ctnt10 b{
    letter-spacing: -.2px;
    font-size: 19px;
    line-height: 26px;
    color: #050505;
    font-weight: 700;
    margin-bottom: 12.5px;
    font-weight: bolder;
}


.ctnt10 input {
    
    margin-top: 16px;
    width:552px;
    border: 1px solid #b9bbc7;
    outline: 0;
    color: #212121;
    box-sizing: border-box;
    padding:  13px;
    line-height: 21px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    padding-right: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.campo-pesquisa {
    padding: 0px;
    width:552px;
    position: relative;
    float: left;
    border: none;
}
.icone-pesquisa{
    
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 5px;
    min-width: 15px;
    background: none;
    border: none;
}

.icone-pesquisa::after {
    color: #000;
    font-family: philips-global-icon-font;
    content: '\e209';
    font-size: 30px;
    cursor: pointer;
    opacity: 0.8;
}

.ctnt10 a {
    margin-top: 10px;
    float: left;
}

.ctnt11 {
    height: 223px;
    margin: 0;
    padding-top: 45px;
}
.ctnt11 button{
    position: relative;
    padding-left: 60px;
}
.ico-pdf::before{
    width: 30px;
    content: '\e620' ;
    color: #fff;
    font-size: 35px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2px;
    left: 20px;
}


.ctnt12 {
    height: 442px;
    background-color: #0f204b;
    margin: 0;
}

.ctnt12 .content a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 10px;
}
.ctnt12 .content h3{
    padding: 5px;
    padding-top: 55px;
    font-size: 16pt;
    color: #d2d1d4;
}


.ctnt12 .content ul{
    padding: 5px;
    
    
}
.ctnt12 .content li{  
    width: 100%;
    list-style-type: none;
    float: left; 
}

.ctnt13 {
    height: 356px;
    color: #fff;
    background-color: #0096ee;
    background-repeat: repeat-x;
    background: linear-gradient(to bottom right,#003655 0,#0066a1 50%,#0096ee 100%);
}

.ctnt13 .content {
    height: 279px;
    align-items: center;
}
.ctnt13 .content div,
.ctnt13 .content div a,
.sub-menu-sites-select,
.copyright
{    
    color:#b3c8e6;
    font-size: 11.2pt;
    text-decoration: none;
    line-height: 14pt;
}

.ctnt13 .content div b {
    color:#fff; 
}

.ctnt13 .content .left icone{  
    margin-right: 15px;
}
.ctnt13 .content icone{  
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-style: normal;    

}  

.youtube::after     {content: '\e30d';}
.twitter::after     {content: '\e30b';}
.facebook::after    {content: '\e300';}
.pinterest::after   {content: '\e307';}
.linkedin::after    {content: '\e305';}
.volume-high::after {content: '\e211';}
.arrow-down::after  {content: '\e201'; font-size: 18px; line-height: 22px; display: inline-block;}
.arrow-right::after {content: '\e203'; font-size: 18px; line-height: 22px; display: inline-block;}

.arrow {
    left: 30px;
    position: absolute;
    top: 50%;
    border-radius: 1px;
    padding: 0;
    text-align: center;
    background-color: rgba(255,255,255,.25);
    line-height: 48px;  

    font-size: 0;
}

.banner-prev,
.banner-next,
.banner-navigation-button {
    cursor: pointer;
}

.banner-next::after,
.banner-prev::after {
    z-index: 2;
    font-family: philips-global-icon-font;
    font-size: 48px;
    color: #00295f;
    z-index: 999;
}

.banner-prev::after {
    content: '\e202';
    position: absolute;
    
}
.banner-next::after {
    content: '\e203';
    position: absolute;
    
}

.banner input{
    z-index: -10;
}



.sub-menu-sites-select{
    float:right;
}

.ctnt13 .content .right{  
    position: relative;
}
.sub-menu-sites {
    
    position: absolute; 
    right:0;
    background-color: #fff;
    padding: 14px 20px;
    width: 200px;
    display:none;
    
    
}
.ctnt13 .content .sub-menu-sites a{
    font-size: 12pt;
    color: #3c3c3c;
    display:block;
    width: 100%;
    line-height: 15pt;
}
.ctnt13 .content .sub-menu-sites a:hover{
    text-decoration: underline;
}

.sub-menu-sites-select:hover > .sub-menu-sites {
    display:block;
}


.ctnt13 .links-site li{
    display: inline-block;
}
.ctnt13 .links-site li:not(:first-child) span::after{
    content: ' | ';
    color: #fff;
    float: left;
}


